<md-content flex="50" flex-sm="100" flex-md="80">
<table>
    <tr>
        <td><strong>Candidature</strong></td><td>Dev Full Stack Node/Angularjs MongoDB</td>
    </tr>
    <tr>
        <td><strong>Société</strong></td><td>SpeakPlus</td>
    </tr>
    <tr>
        <td><strong>Début</strong></td><td>Février - Mars</td>
    </tr>
    <tr>
        <td><strong>Niveau du stage</strong></td><td>Bac +5</td>
    </tr>
    <tr>
        <td><strong>Durée</strong></td><td>5 - 6 mois</td>
    </tr>
</table>
</md-content>

<md-content class="justify" flex="50" flex-sm="100" flex-md="80" layout-padding>
    <p>
        A la recherche d'un stage d'une durée de <strong>5 à 6 mois</strong> pour finaliser mon Master, j'ai souhaité participer à ce coding challenge
        afin de rejoindre <strong>Speakplus</strong> et réaliser mon stage au sein de votre société.<br />
        Speakplus utilise des concepts et des technologies qui m'intéressent particulièrement. Le framework <strong>AngularJs</strong> fait notamment
        partie des technologies où je souhaite réellement me perfectionner et en apprendre toujours davantage.<br />
        Adpete des techniques de mémorisation, le principe de gamification y est très présent. Je partage l'idée qu'il faut rendre les choses ludiques
        pour un apprentissage accéléré et je trouve très intéressant que Speakplus utilise ces méthodes pour enseigner.
    </p>
    <p>
        Le Master dans lequel j'étudie actuellement (Web informatique et connaissance) approfondit particulièrement sur les technologies web. <br />
        Je réalise en ce moment même deux projets utilisant des technologies semblables à celles demandées pour ce stage :
        <ul>
            <li>
                Jeu multijoueur reprenant le principe de <a href="https://fr.wikipedia.org/wiki/Tron_(jeu_vid%C3%A9o)">Tron</a> (NodeJS/ExpressIO)
            </li>
            <li>
                Interface web pour intéragir avec les services multimédia d'UPNP (AngularJS/Angular Matérial/gulp)
            </li>
        </ul>
        Ces projets seront totalement terminés avant le début du stage augmentant mes compétences vis à vis de ces technologies. Il sera alors pour moi plus facile de
        m'intégrer dans un environnement technique tel que le votre et de devenir rapidement autonome et efficace.
    </p>
    <p>

    </p>
</md-content>